# Environments
.env
.venv
env/
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# IDEs
.idea/
.vscode/

# Node
node_modules/

# Build artifacts
build/
dist/
*.egg-info/
*.egg

# Testing
.pytest_cache/
htmlcov/
.coverage

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db
